
NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/blog"

JWT_ACCESS_SECRET="my_secret"
JWT_REFRESH_SECRET="my_secret"

ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN_DAYS=7

SESSION_SECRET="my_secret"

APP_URL="http://localhost:3000"

SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_USER="your-email"
SMTP_PASSWORD="your-password"
SMTP_FROM="Blog <no-reply@example.com>"


